.pie-chart-tooltip {
  font-size: 16px;
  text-align: center;
}

.line-chart-title {
  font-size: @font-size-l;
  color: @font-color-default;
  font-weight: @font-weight-normal;
  padding: 15px;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.adoption-chart {
  height: 200px;
}

.chart {
  .bar-chart-title {
    font-size: @font-size-l;
    color: @font-color-default;
    font-weight: @font-weight-normal;
    padding: 15px;
    text-transform: capitalize;
    padding-bottom: 5px;
  }
}