abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0
}

html,
body {
  font-family: @font-family;
  background: @dashboard-bg;
  height: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #666;
}

.popover,
.fade,
.bottom in {
  top: 35px;
  left: -48.875px;
  display: block;
  width: 200px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
menu,
nav,
section {
  display: block
}

a,
hr {
  padding: 0
}

ins,
mark {
  background-color: #ff9;
  color: #000
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

a {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0
}

ins {
  text-decoration: none
}

mark {
  font-style: italic;
  font-weight: @font-weight-bold;
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0
}

input,
select {
  vertical-align: middle
}

.content-wrap {
  background-color: @body-background;
  height: @hundred-percent;
  font-family: @font-family;
  font-size: @font-size-m;
  line-height: 1.42857143;
  padding-top: 38px;
  /* Move down content because we have a fixed navbar that is 50px tall */
}

.circle-bg-enable {
  border-radius: 50%;
  background-color: #47B860;
  padding: 1px 0px;
  font-size: 2px;
  width: 14px;
  height: 14px;
  padding: 10px;
  position: absolute;
  right: 3px;
  top: 20px;
  span.glyphicon.glyphicon-ok {
    font-size: @font-size-xs;
    color: @text-color-default;
    top: -6px;
    left: -6px;
  }
  .circle-bg {
    border-radius: 50%;
    background-color: @branding-color;
    padding: 1px 0px;
    font-size: 2px;
    width: 50px;
    height: 50px;
  }
  .fa-lock:before {
    color: @text-color-default;
    font-size: 11px;
  }
}

.neutral {
  background-color: @text-color-default !important;
  color: #8E8E8E !important;
}

.positive {
  background-color: #47B860 !important;
  color: @text-color-default !important;
}

.negative {
  background-color: #EE3838 !important;
  color: @text-color-default !important;
}

.body-bg-color {
  background: @body-background;
}

.vm-loadershowbox {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  z-index: 999;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-color: #f5f5f5;
  opacity: 0.9;
  margin-top: -30px;
  margin-left: -30px;

  .vm-loader {
    position: relative;
    width: 60px;
    height: 75px;
    margin: auto;
  }

  .vm-loader {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0);
    border-top-color: 6px solid @branding-color;
    border-right-color: 6px solid @branding-color;
    -webkit-animation: single2 4s infinite linear;
    animation: single2 4s infinite linear;

    @keyframes single2 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border-top-color: @branding-color;
        border-right-color: @branding-color;
      }
      50% {
        border-top-color: @branding-color;
        border-right-color: @branding-color;
      }
      100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
        border-top-color: @branding-color;
        border-right-color: @branding-color;

      }
    }

  }
}

.vm-loading-message {
  text-align: center;
  color: @font-color-secondary;
  font-size: 13px;
  position: absolute;
  left: 0px;
  top: 9px;
}

/*buttons*/
.vymo-btn-primary {
  background-color: @vymo-btn-primary-bg;
  border: 1px solid @vymo-btn-primary-bg;
  font-size: 11px;
  font-weight: @font-weight-normal;
  padding: 8px 12px;
  color: @text-color-default;
  letter-spacing: 0.3px;
}

.vymo-btn-primary:hover {
  border: 1px solid #d8d8d8;
  background: #fff !important;
  color: @default-color;

}


.vymo-btn-primary:active {
  color: @font-color-secondary;
}

.vymo-btn-secondary {
  background-color: #f9f8f8 !important;
  border: 1px solid #cacaca;
  font-size: 11px;
  padding: 8px 12px;
  margin-right: 12px;
  padding: 8px 12px;
  margin-right: 5px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: @default-color;
}

.vymo-btn-secondary:hover {
  border: 1px solid #d8d8d8;
  background: #949494 !important;
  color: #fff;

}

.vymo-btn-tertiary {
  border-color: @vymo-btn-tertiary;
  -moz-box-shadow: 3px 0px 8px @box-shadow-color;
  font-size: @font-size-xxs;
  color: @font-color-default;
  margin-right: 6px;
  padding: 4px 12px;
  text-transform: @uppercase;

  .fa-remove:before, .fa-close:before, .fa-times:before {
    font-size: @font-size-xs;
    padding-left: 12px;
  }
}

.floating-right {
  float: right;
}

.add-user-icon {
  background: url(../images/add-user-icon.png) no-repeat;
  border: none;
  padding: 10px 10px 5px 10px;
  margin-left: 0px;
}

.remove-icon {
  background: url(../images/remove-icon.png) no-repeat;
  margin: 4px;
  border: none;
  padding: 10px 10px 5px 10px;

}

.add-lead {
  padding-top: 5px;
  float: left;
}

.btn-tertiary-text {
  padding-top: 5px;
  padding-bottom: 3px;
  float: left;
}

.btn-text-right {
  padding-top: 5px;
  float: left;
}

.fa-download,
.fa-user-times,
.fa-user,
.fa-refresh,
.fa-pencil,
.fa-check-circle,
.fa-times-circle,
.fa-user-plus,
.fa-ban,
.fa-floppy-o,
.fa-upload,
.fa-ban,
.fa-filter,
.fa-bell,
.fa-paper-plane-o {
  content: "\f05e";
  font-size: @font-size-s;
  padding-right: 6px !important;
}

.fa-download,
.fa-user-times,
.fa-user,
.fa-refresh,
.fa-pencil,
.fa-check-circle,
.fa-times-circle,
.fa-user-plus,
.fa-ban,
.fa-floppy-o,
.fa-upload,
.fa-ban:hover,
.fa-filter,
.fa-bell,
.fa-paper-plane-o {
  content: "\f05e";
}

.button-summary {
  padding: 0px 5px 10px;
}

.button-style {
  color: deeppink;
  background-color: #00ee00;
}

.primary-color {
  color: @font-color-primary;
}

.rw-input {
  font-size: 12px;
  color: @font-color-default;
  text-transform: capitalize;
  height: 2.7em;
}

.form-control:focus {
  border-color: #9d9d9d;
  box-shadow: inset 0 1px 1px #ccc;
}

.btn:focus {
  outline: none;
}

.cancel-btn-lead-details {
  margin-left: 85px;
}

.hide {
  display: none
}

.show {
  display: block
}

.left-align {
  float: left;
}

.option-bg {
  background-color: @default-bg;
}

@media (min-width: 768px) {

  .sidebar {
    top: 50px !important;
  }
}

/*side bar*/
.style-add-on span {
  padding-left: 10px;
  width: 100%;
  border-bottom: 1px solid #737373;
  font-size: @font-size-m;
  font-weight: @font-weight-light;
  letter-spacing: 0.5px;
}

.a-for-the-backround {
  background: #666;
}

.main-header {
  position: relative;
  max-height: 100px;
}

.error-msg {
  background: @error-msg-bg;
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
}

.errorField {
  font-size: 11px !important;
  color: #ED1C24;
  height: 13px;
  margin-top: -58px;
  margin-left: 130px;
  float: left;
}

text {
  font-size: 0.7vw !important;
}

//Hack for filters font sizes
.rw-combobox, .rw-datetimepicker, .rw-numberpicker, .rw-dropdownlist {
  font-family: Roboto, sans-serif !important;
  color: @font-color-default;
  font-size: @font-size-xs;
  font-weight: @font-weight-light;;
  text-transform: capitalize !important;
}

.rw-dropdownlist > .rw-input {
  font-size: @font-size-s;
  font-weight: @font-weight-light;
  text-transform: capitalize;
}

.rw-datetimepicker input.rw-input {
  text-transform: capitalize;
}

.rw-reports-drop-down{
  display:inline-block;
  &:hover{
    background-color:transparent;
    border-color: transparent;
  }
  &:active{
    box-shadow: none;
  }
}

.tooltip {
  background-color: @bg-default;
  border-radius: 3px;
  border: 1px solid @border-general;
  color: @font-color-default;
  font-size: 10px;
  opacity: 0.7;
  padding: 5px;
  box-shadow: 1px 1px 1px @border-general;
}

.summary-top {
  padding-bottom: 20px;
  padding-top: 40px;
}

.left-spacing {
  margin-left: 0px;
}

.activity-metrics {
  margin-top: 15px;
  margin-left: 3px;
}

.pop-up-alert {
  color: @pop-up-alert;
  background-color: @bg-default;
  border-color: @bg-default;
  font-size: @font-size-m;
  margin: 0px 20px;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
}

input#remarks {
  font-weight: @font-weight-light;
}

.rw-popup-container.rw-calendar-popup {
  right: auto;
  width: 22em;
}

.main-content-wrapper {
  width: 81.2%;
  margin-left: 17.5%;
  margin-top:70px;
}

.menuDisplayed {
  width: 16.66%
}

.left-zero {
  padding-left: 0px !important;
}

.menuDisplayed .fa {
  font-size: 16px !important;
}

.menuDisplayed .sidebar span {
  display: inherit;
}

.sidebar span {
  display: none;
}

.menuDisplayed .footer-logo {
  width: 71px !important;
  padding-left: 30px !important;
}

.menuDisplayed .main-content-wrapper {
  padding-left: 12%;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  color: #9c9c9c;
  text-indent: 0em;
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 200;
}

.brand-logo {
  border-bottom: 1px solid @border-general;
}

.navbar-fixed-top .top-tabs .nav-tabs {
  margin-top: 0px !important;
  border-left: 1px solid @border-general;
}

@media (min-width: 768px) {

  .sidebar {
    width: 100%;
  }
}

.page-title-summary {
  position: relative;
}

.vymo-navbar-title {
  font-weight: 200;
  color: @font-color-default;
  font-size: 21px;
  text-transform: @uppercase;
  padding: 10px 10px 10px 25px;
  background: @bg-default;
  box-shadow: 2px 2px 3px #ccc;
  padding-left: 25px;
  width: 100%;
  // z-index: @nine-nine;
}

.leads-dashboard {
  margin-left: 20px;
  margin-right: 15px;
}

.filter-btn-bg {
  width: 100%;
  text-align: center;
}

.nav-tabs > li.active > a {
  background-color: transparent !important;
}

.cover .cover-blocks .placeholder .cover-block .vymo-cover-block-info a:hover {
  color: @font-color-secondary;
}

.container-fluid {
  position: relative;
}

.__react_component_tooltip {
  z-index: 1032 !important;
}

.chart {
  .bar-chart-title {
    font-size: @font-size-l;
    color: @font-color-default;
    font-weight: @font-weight-normal;
    padding: 15px;
    text-transform: capitalize;
    padding-bottom: 5px;
  }
}

.msg-failure {
  font-size: @font-size-m;
  border: 1px solid @msg-failure-border;
  border-radius: 4px;
  padding: 5px 10px;
  position: fixed;
  bottom: 18%;
  font-weight: @font-weight-light;
  left: 42%;
  color: @msg-failure-color;
  background-color: @msg-failure-bg;

  .btn-text {
    padding: 0px !important;
    margin-left: 20px;
  }
}

.msg-success {
  font-size: @font-size-m;
  border: 1px solid @msg-success-border;
  border-radius: 4px;
  padding: 5px 10px;
  position: fixed;
  bottom: 18%;
  font-weight: @font-weight-light;
  left: 42%;
  color: @msg-success-color;
  background-color: @msg-success-bg;

  .btn-text {
    padding: 0px !important;
    margin-left: 20px;
  }
}

.__react_component_tooltip.type-dark {
  color: @text-color-default;
  background-color: #666666 !important;
  border: 1px solid @box-shadow-color;
  box-shadow: 1px 2px 1px @box-shadow-color;
}

.branding-active {
  background-color: @branding-color !important;
  color: @text-color-default;
}

.branding-active td {
  color: #fff !important;
}

.modal-css {
  margin-top: 100px;
  z-index: 999;
}

.powered-by-vymo {
  color: #fdfdfd;
  font-weight: @font-weight-normal;
  font-size: 8px;
  letter-spacing: 0.6px;
  float: left;
  padding-left: 19px;
}

.message-up span {
  position: fixed;
  width: 300px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -150px; /* Negative half of width. */
  z-index: 10000001;
  padding: 20px;
  text-align:center;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 3px;
  outline: 0;
  font-weight:300;
  border:1px solid #ccc;
}

.message-up.success {
  color: @msg-success-color;
  text-align: center;
}

.message-up.failure {
  color: @msg-failure-color;
  text-align: center;

}

text {
  color: @font-color-default;
  text-transform: capitalize;
}

.total-count {
  font-size: 16px;
  font-weight: 400;
  margin-top: -2px;
  color: @font-color-default;

  span {
    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.copyright {
  text-align: center;
  font-size: @font-size-xxs;
  font-weight: @font-weight-light;
  padding-top: 5px;
  color: @font-color-tertiary;

  span {
    text-align: left !important;
    font-size: 8px;
    float: left;
    padding-left: 2px;
  }
}

.right-align {
  text-align: right;
}

@media all and (-ms-high-contrast: none) {
  .filter-expand {
    color: green
  }

  *::-ms-backdrop, .filter-expand {
    margin-right: 20px !important;

    *::-ms-backdrop, .filter-collapse {
      margin-right: 10px !important
    }
  }

  .cover{
    padding-top:20px;
  }

}
.right-align {
  text-align: right;
}

.color-red {
  color: @danger-color !important;
}

.color-green {
  color: @success-color !important;
}

.color-default {
  color: @default-color !important;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.aling-center {
  text-align: center;
}

.fa-paper-plane-o {
  font-size: 12px !important;
}

/*Hack for now need to cahnge later*/

.push-report .vymo-table .table tbody > tr > td {
  word-wrap: break-word;
  width: 200px;
}

.push-report {
  margin-top: 20px;

  .panel {
    border: 0px !important;
  }
}

/*loader not logedin*/

#fountainTextG {
  width: 234px !important;
  margin: auto !important;
  border-radius: 0px !important;
  border: 2px solid #ED1C24;
  transition: .3s ease !important;
  border-radius: 5px !important;
  background: #ed1c24 !important;
  opacity: 0.9 !important;
  margin-top: 30px;
  margin-left: 30px;

}

.fountainTextG {
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  float: left;
  animation-name: bounce_fountainTextG;
  -o-animation-name: bounce_fountainTextG;
  -ms-animation-name: bounce_fountainTextG;
  -webkit-animation-name: bounce_fountainTextG;
  -moz-animation-name: bounce_fountainTextG;
  animation-duration: 2.09s;
  -o-animation-duration: 2.09s;
  -ms-animation-duration: 2.09s;
  -webkit-animation-duration: 2.09s;
  -moz-animation-duration: 2.09s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(.5);
  -o-transform: scale(.5);
  -ms-transform: scale(.5);
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
}

#fountainTextG_1 {
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#fountainTextG_2 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

#fountainTextG_3 {
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

#fountainTextG_4 {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

#fountainTextG_5 {
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

#fountainTextG_6 {
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

#fountainTextG_7 {
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}

@keyframes bounce_fountainTextG {
  0% {
    transform: scale(1);
    color: rgb(0, 0, 0);
  }

  span {
    text-align: left !important;
    font-size: 8px;
    float: left;
    padding-left: 2px;

    100% {
      transform: scale(.5);
      color: rgb(255, 255, 255);
    }
  }
}

@-o-keyframes bounce_fountainTextG {
  0% {
    -o-transform: scale(1);
    color: rgb(0, 0, 0);
  }

  100% {
    -o-transform: scale(.5);
    color: rgb(255, 255, 255);
  }
}

@-ms-keyframes bounce_fountainTextG {
  0% {
    -ms-transform: scale(1);
    color: rgb(0, 0, 0);
  }

  100% {
    -ms-transform: scale(.5);
    color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_fountainTextG {
  0% {
    -webkit-transform: scale(1);
    color: rgb(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(.5);
    color: rgb(255, 255, 255);
  }
}

@-moz-keyframes bounce_fountainTextG {
  0% {
    -moz-transform: scale(1);
    color: rgb(0, 0, 0);
  }

  100% {
    -moz-transform: scale(.5);
    color: rgb(255, 255, 255);
    .right-align {
      text-align: right;
    }

    @media all and (-ms-high-contrast: none) {
      .filter-expand {
        color: green
      }

      *::-ms-backdrop, .filter-expand {
        margin-right: 20px !important;

        *::-ms-backdrop, .filter-collapse {
          margin-right: 10px !important
        }
      }
    }
  }
}

.geo-flip-button {
  margin-bottom: 10px;
  .onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .onoffswitch-checkbox {
    display: none;
  }

  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
  }

  .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }

  .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }

  .onoffswitch-inner:before {
    content: "MAP";
    padding-left: 10px;
    background-color: @branding-color;
    color: #FFFFFF;
  }

  .onoffswitch-inner:after {
    content: "TABLE";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
  }

  .onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
  .onoffswitch-switch {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}

.location {
  padding: 20px 0 10px 15px;
}

.alert-modal {
  font-family: @font-family;
  .modal-footer {
    text-align: center;
  }
}

.pie-chart-tooltip {
  font-size: 16px;
  text-align: center;
}

/*table text failed and success color identifier*/
.text-success {
  color: #3c763d !important;
}

.text-danger {
  color: #a94442 !important;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 60px auto;
  }
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.vymo-btn-secondary[disabled]:hover {
  background-color: #fff !important;
  opacity: .65;
  color: #d6d6d6;
  border: 1px solid #d6d6d6;
}

.vymo-btn-primary[disabled]:hover {
  background-color: #b2182b !important;
  border: 1px solid #b2182b;
  opacity: .65;
  color: #fff;
}

/*make the different file*/
.rw-datetimepicker input#rw_4_input {
  font-size: 12px;
}

.left-spacing {
  margin-left: 5px;
}

.right-spacing {
  margin-right: 5px;
}

.right-zero {

}

.vymo-table .table thead:first-child > tr:first-child > th {
  padding-right: 5px;
}

.notification-template-selected-msg {
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-top: 0px;
  color: #666;
  line-height: 22px;
}

div.tooltip {
  position: absolute;
  margin: 4px;
  padding: 4px;
  font-size: 13px;
  color: @font-color-default;
  border: 1px solid #ccc;
  border-radius: 3px;
  pointer-events: none;
  background-color: @text-color-default;

  table {
    tbody {
      tr {
        th {
          text-align: center;
          font-size: initial;
        }
        td {
          padding: 2px;
          text-align: left;
          .legend_bar {
            height: 3px;
            width: 3px;
          }
        }
      }
    }
  }
}

.canned-report .form-group label {
  display: none;
}

.reports-submit {
  margin-top: 5px;
  padding: 7px 17px;
}

.rw-input {
  height: 2.7em;
}

.userlist-dashboard {
  padding-left: 5px;

  .vymo-table input.form-control {
    border: 1px solid #ddd;
    box-shadow: none;
    margin-bottom: 10px;
    border: 1px solid #f1f1f1;
    margin-top: -43px;
    border: 1px solid #cacaca;
    font-weight: 300;
    text-transform: capitalize;
  }
  .form-control {
    height: 33px;
  }
}

.right-padding {
  padding-right: 42px;
}

.space-in-between {
  margin-right: 10px;
}

ul.rw-list > li.rw-list-option.rw-state-selected, .rw-selectlist > li.rw-list-option.rw-state-selected {
  padding: 5px;
  border: 1px solid #e4e4e4;
}

ul.rw-list > li.rw-list-option, .rw-selectlist > li.rw-list-option {
  padding: 5px;
  border-radius: 0px;
}

.form-control {
  font-weight: @font-weight-light;
}

.vymo-btn-primary:active {
  color:@text-color-default;
}
.vymo-btn-primary:visited {
  color: @text-color-default;
}

.vymo-btn-primary:focus {
  // color:@text-color-default;
}

/*responsive left menu*/
.nav-side-menu {
  overflow: auto;
  height:@hundred-percent;

  .brand {
    background-color: @brand-bg-color;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: @font-size-m;
  }

  .toggle-btn {
    display: none;
  }

  li:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
}

/* target screen */
.target-page {
  .table-title-header{
    margin-top:0;
    border-bottom:1px solid @border-general;
    .title{
      color: @font-color-default;
    }
  }
  .target-report-selection {
    display: flex;
    align-items: center;
  }
}

.target-management.page-summary-individual {
  margin-top: 25px;
}

.main-content-wrapper {
  .adoption {
    .page-summary-individual {
      .panel-body {
        .lead-info {
          .numeric {
            font-size:@font-size-xxxl-big;
          }
        }
      }
    }

    .text-attendance {
      font-size: @font-size-xs;
    }

  }
}

.rw-widget.rw-state-focus .rw-popup-container{
  text-transform:capitalize;
}

.custom-left-spacing{
  margin-left:-15px;
}

