.vymo-table {
    .hideColumn {
        display: none;
    }

    .redColor {
        background-color: #660000;
        color: #0000cc;
    }
    .fonts {
        font-style: italic;
    }
    .active-pagination {
        background-color: blue;
        color: white;
    }
}
