@body-background: #EFF3F5;
@branding-color: #ed1c24;
@vymo-branding-color: #ed1c24;
//@font-family: "Roboto, sans-serif","Helvetica Neue","Helvetica,Arial,sans-serif";
@font-family: Roboto, sans-serif;
@dashboard-bg: #EFF3F5;
@border-general: #ddd;

@bg-default: #fff;
/*branding bg*/
@brand-bg: #3a3b3a;
@brand-logo-bg: #3a3b3a;
@brand-logo-bg-sbi: #fff;

/*metrics header */
@default-bg: #fff;
@success-bg: #47B860;
@danger-bg: #EE3838;

@success-color: #47B860;
@danger-color: #EE3838;
@default-color: #666;
/*Font sizes*/
@font-size-xxs: 10px;
@font-size-xs: 12px;
@font-size-s: 13px;
@font-size-m: 14px;
@font-size-l: 16px;
@font-size-xl: 18px;
@font-size-xxl: 20px;
@font-size-xxl-big: 22px;
@font-size-xxxl: 24px;
@font-size-xxxl-big: 25px;
@font-size-xxxl-puls: 30px;
@font-size-xxxl-puls-puls: 34px;

/*text color*/
@font-color-primary: @branding-color;
@font-color-default: #666;
@font-color-secondary: #333;
@font-color-tertiary: #ccc;
@font-color-info: #999;
@text-color-default: #fff;

/*font-weight*/
@font-weight-thin: 100;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-medium: 500;
@font-weight-bold: 700;
@font-weight-ultra: 900;

/* header summary */
@header-summarybg: #F9FAFB;

/* table */
@tabel-border: #f1f1f1;
@table-header-bg: #FAFBFB;

/* buttons */
@vymo-btn-primary-bg: @branding-color !important;
@vymo-btn-secondary-bg: #FAFBFB !important;
@btn-primary-color: #FBF7F7 !important;
@vymo-btn-tertiary: #ccc;
@leads-history-details: #f1f1f1;

/*funnel*/
@leads-summary-bg: #f9fafb;
@panel-primary-bg: #666;
@panel-secondary-bg: #999;
@brand-logo: url("../images/vymo-logo.png");

/*sidebar*/
@sidebar-bg: #3a3b3a;
@hover-color:#06aeee;
@hover-bg-color:@hover-color;
@active-color:#06aeee;
@active-bg-color:@active-color;

/*box-shadow-color*/
@box-shadow-color:#ccc;

/*z-index*/
@nine-nine:99;

/*font case*/
@uppercase:uppercase;
@lowercase:lowercase;
@capitalize:capitalize;

/*msg*/
@msg-failure-bg:#f2dede;
@msg-failure-color:#a94442;
@msg-failure-border:#ebccd1;
@msg-success-bg:#dff0d8;
@msg-success-color:#3c763d;
@msg-success-border:#06aeee;

/*error-msg*/
@error-msg-bg:#f1f1f1;
@border-default:@error-msg-bg;
/*fa icon color*/
@fa-color:#888282;

/*pop-alert-box*/

@pop-up-alert:#ED1C24;

/*cover-info*/
@info-hover-color:#888;

/*filter*/
@filter-color:#9C9C9C;
@filter-border:#eee;
@icon-bg-color:#333;
@badge-bg:#EE3838;

/*allocation*/
@lead-border:#f1f1f1;
@lead-bg:@lead-border;
@calender-border:@lead-border;
@active-bg-color:#40a24c;
@time-slot-boxshadow:#e4e4e4;

/*footer*/
@footer-bg:#3a3b3a;

/*self serve*/

@hover-default:#f1f0f0;
@default-bg:#cfd3d4;
@border-default:#f1f1f1;

@hundred-percent:100%;
@line-height-16:16px;

/*left-mrnu-responsive*/
@brand-bg-color: #23282e;
