
/* For mobile : like samsung grand(480 * 800): */
@media screen and (max-width : 480px){
  body:{
    fontFamily:"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif";
    overflow:"auto";
    width:"140%"
  }
  

}


/* For iphone: */
@media screen and (max-width : 320px){
  body:{
    fontFamily:"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif";
    overflow:"auto";
  },
  div.LayOut-root-1:{
    width:"204% !important"

  }

} 


/* For ipad: */
@media screen and (max-width : 768px){
  body:{
    fontFamily:"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif";
    overflow:"auto";
  }

}

/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ 
  body:{
    fontFamily:"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif";
    overflow:"auto";
  }

}  